@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.btn{
    padding: 15px 20px;
    border-radius: 50px;
    font-weight: 600;
    border: 1px solid black;
    cursor: pointer;
}

.btn.dark{
    background-color: rgb(53, 53, 53);
    color: white;
    border: 1px solid rgb(53, 53, 53);
}

/* Transition */

a, 
.btn{
    transition: all 0.3s ease;
}

/* Navigation */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 17vh;

    .nav-links{
        display: flex;
        gap: 2rem;
        font-size: 1.5rem;

        a{
            color: black;
            text-decoration-color: white;

            &:hover{
                color: grey;
                text-decoration: underline;
                text-underline-offset: 1rem;
                text-decoration-color: rgb(185, 185, 185);
            }
        }
    }

    .logo{
        cursor: default;

        h2{
            font-size: 2rem;
        }
    }

    
}

#mobile-nav{
    display: none;

    .hamburger-menu{
        position: relative;
        display: inline-block;

        .hamburger-icon{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 24px;
            width: 30px;
            cursor: pointer;

            span{
                width: 100%;
                height: 2px;
                background: black;
                transition: all 0.45s ease-in-out;

                &:first-child{
                    transform: none;
                }

                &:nth-child(2){
                    opacity: 1;
                }

                &:last-child{
                    transform: none;
                }
            }
        }

        .hamburger-icon.open span:first-child{
            transform: rotate(45deg) translate(10px, 5px);
        }

        .hamburger-icon.open span:nth-child(2){
            opacity: 0;
        }

        .hamburger-icon.open span:last-child{
            transform: rotate(-45deg) translate(10px, -5px);
        }

        .dropdown-menu{
            position: absolute;
            top: 200%;
            right: 50%;
            background: white;
            width: 300px;
            height: 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            border-radius: 10px;

            li{
                padding: 0.7rem;
            }
            

            a{
                display: block;
                padding: 10px;
                text-align: center;
                font-size: 1.2rem;
                color: black;
                transition: all 0.3s ease-in-out;
            }
        }
        .dropdown-menu.open{
            height: 300px;
        }
    }
}


/* Sections */

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    min-height: fit-content;
}

section:not(:first-child){
    position: relative;
    text-align: center;
    p{
        font-weight: 600;
    }
    h2{
        font-size: 3rem;
    }
    .icon{
        position: absolute;
        right: -5rem;
        bottom: 2.5rem;
        cursor: pointer;

        .bx{
            font-size: 2.8rem;
        }
    }
}

/* Section 1 */

.main-section{
    display: flex;
    height: 79vh;
    justify-content: center;

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;

        .main-image{
            display: flex;
            height: 400px;
            width: 400px;
            margin: auto;
        }

        .main-info{
            text-align: center;
            p{
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: .75rem;
            }
            .title{
                font-size: 2.25rem;
                margin-bottom: .75rem;
            }
            .subtitle{
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 0.75rem;
            }
            .main-buttons{
                display: flex;
                justify-content: center;
                gap: 1rem;
                margin-bottom: 0.75rem;

                .download-btn{
                    &:hover{
                        background-color: rgb(53, 53, 53);
                        border: 1px solid rgb(53, 53, 53);
                        color: white;
                    }
                }
                .contact-btn{
                    &:hover{
                        background-color: black;
                    }
                }
            }
            .main-icons{
                .bx{
                    font-size: 2rem;
                    cursor: pointer;
                }
            }
        }
    }
}

.about-container{
        gap: 4rem;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .about-img{
            display: flex;
            height: 400px;
            width: 400px;
            margin: auto 0;

            img{
                border-radius: 40px;
            }
        }

        .about-info{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .about-boxes{
                display: flex;
                gap: 2rem;
                margin: 2rem 0;

                .box{
                    flex: 1;
                    border: 1px solid rgb(53, 53, 53);
                    padding: 1.5rem;
                    border-radius: 30px;
                    text-align: center;
                    background-color: white;

                    .bx{
                        font-size: 2rem;
                        margin-bottom: .5rem;
                    }
                    h4{
                        font-size: 1.3rem;
                        font-weight: 500;
                        margin-bottom: .5rem;
                    }
                    p:not(:last-child){
                        margin-bottom: .5rem;
                    }
                }
            }
        }
} 

.experience{
    .exp-container{
        display: flex;
        margin: 25vh 0;
        justify-content: center;
    
    .exp-box{
        padding: 1.5rem;
        background-color: white;
        border-radius: 40px;
        border: 1px solid rgb(53, 53, 53);
        text-align: center;

        h2{
            font-weight: 600;
            color: rgb(85, 85, 85);
            font-size: 1.75rem;
            margin-bottom: 2rem;
        }

        .article-container{
            display: flex;
            text-align: initial;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 2.5rem;
            justify-content: space-around;

            article{
                display: flex;
                width: 10rem;
                justify-content: space-around;
                gap: 0.5rem;

                .bx{
                    font-size: 2rem;
                }
            }
        }
    }
}
}



